<mat-card class="card-container" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="card-image"></div>
    <mat-card-title>Felipe</mat-card-title>
    <mat-card-subtitle>27/07/2024 15:40:20</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="imagem"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with  mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="curtir()">
      <mat-icon [matBadge]="quantidadesCurtidas > 0 ? quantidadesCurtidas : ''" matBadgeOverlap="false" [color]="isCurtido ? 'primary' : ''">thumb_up</mat-icon>
    </button>
    <button mat-button (click)="favoritar()">
      <mat-icon [color]="isFavorito ? 'primary' : ''">favorite</mat-icon>
    </button>
    <button mat-button (click)="toogleComentar()">Comentar</button>
  </mat-card-actions>
  <ng-template [ngIf]="isComentar">
      <mat-form-field class="card-comentarios" >
        <mat-label>Comentários</mat-label>
        <textarea matInput value=""></textarea>
      </mat-form-field>
      <button class="btn-comentar" color="primary" (click)="adicionarComentario()" mat-flat-button>Salvar</button>
  </ng-template>
  <ng-template [ngIf]="comentarios.length > 0">
    <ng-container *ngFor="let comentario of comentarios">
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>account_circle</mat-icon>
          <p class="comentario">{{ comentario }}</p>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </ng-template>
</mat-card>
