<header class="header-container">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Home"
      routerLink="/">
      <span routerLink="/">{{ title }}</span>
    </button>
    
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Login"
      routerLink="/login"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</header>
